
<div class="well">Bienvenue dans l'espace des membres</div>
<!--<div class="panel panel-default">
  <div class="panel-body">

      <h3>welcome id : {{id}} </h3>
  </div>
</div>-->



<div class="panel panel-default">
  <div class="panel-heading" style="background-color: #2D3F51;" >Bienvenue dans l'espace des membres </div>
  <div class="panel-body">


    <div class="row">
    
    
      <div class="col-sm-3">
         <div class="jumbotron" style="padding:40px;border-radius: 9px;">
            <p> <span class="glyphicon glyphicon-th-list"></span>   Bibleotheque</p> 
          </div>
          
      </div>
    
      <div class="col-sm-3">
         <div class="jumbotron"  style="padding:40px;border-radius: 9px;">
            <p>  <span class="glyphicon glyphicon-list-alt"></span> Projets</p> 
          </div>
      </div>
      <div class="col-sm-3">
         <div class="jumbotron"   style="padding:40px;border-radius: 9px;" >
            <p><span class="glyphicon glyphicon-comment"></span> tchat</p> 
          </div>
      </div>
      <div class="col-sm-3">
         <div class="jumbotron"   style="padding:40px;border-radius: 9px;" >
            <p><span class="glyphicon glyphicon-exclamation-sign"></span> notifications</p> 
          </div>
      </div>
    

    </div>
  </div>



















<!--test-->

<!--testend-->





























</div>
<br>
<br>
