  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<div id="tampon">
  <h1 >A propos de nous</h1>
  <p>
  Début 2012, le Centre de Recherche en Management de Toulouse a été labellisé par le CNRS, unité mixte de recherche (UMR). Ce label, attribué seulement à quatre autres centres de recherche en gestion – dépendant respectivement de l’école Polytechnique, d’HEC Paris.
 </p>
</div>


<div id="spacer"></div>


<div class="container" id="add_font">
  <div class="row">
    <h1>Mot du directeur</h1>
<div id="spacer"></div>
    <div class="col-sm-8">
      <md-card>
      <p>
          Début 2012, le Centre de Recherche en Management de Toulouse a été labellisé par le CNRS, unité mixte de recherche (UMR). Ce label, attribué seulement à quatre autres centres de recherche en gestion – dépendant respectivement de l’école Polytechnique, d’HEC Paris, de l’Université Paris-Dauphine et de l'IAE de Grenoble - atteste de l’engagement de nos équipes dans la recherche internationale au meilleur niveau. 
          Très international dans sa composition et son mode de fonctionnement en réseau, multipliant les collaborations avec des centres réputés (London School of Economics, universités de Princeton, Chicago et Harvard, HEC Montréal, etc.), le CRM a la volonté d’être actif dans l’ensemble des champs disciplinaires des sciences de gestion : de la finance à la gestion des ressources  humaines, en passant par la stratégie, le marketing, la comptabilité et le contrôle  de gestion. 
          Le laboratoire rassemble 46 chercheurs et enseignants-chercheurs de l’IAE et de l’Université Toulouse 1 Capitole. Leur forte implication dans le pilotage des cursus de formation de l’IAE bénéficie aux étudiants et cadres d’entreprise en formation initiale et continue, qui reçoivent ainsi un enseignement nourri des recherches les plus actuelles.
          Laboratoire d’accueil de l’école doctorale de sciences de gestion de Toulouse, le CRM forme entre 60 et 40 doctorants par an. Il travaille également sur de nombreux projets de recherche cofinancés par des institutions publiques, dont l'Union Européenne, mais également  l'Agence Nationale de la Recherche, le Ministère des Affaires Sociales du Travail et  le Conseil Régional  Midi-Pyrénées, etc.
          Dans le cadre d’enquêtes et d’études de terrain, de contrats de recherche et de chaires d’entreprises, le CRM collabore également de manière régulière avec plusieurs firmes, notamment Airbus, Fram, Pierre Fabre, Euronext, etc.
          Notre politique active de développement a pour ambition de situer le CRM parmi les équipes françaises de recherche les plus productives en sciences de gestion.
          Notre vocation est également de veiller à la diffusion des savoirs auprès des décideurs et des citoyens, désireux, dans un contexte d’incertitudes croissantes, de comprendre les mécanismes de fonctionnement des organisations auxquelles ils participent. 
      </p>
      </md-card>
    </div>
    <div class="col-sm-4">
  
      <img id="img-directeur"  src="http://img.decision-achats.fr/Img/MOUVEMENT/2016/4/303678/Philippe-Denery-nomme-directeur-general-adjoint-finances-achats-TF1-F.jpg" />
 
    </div>
  </div>




<div id="spacer"></div>
<div id="spacer"></div>
<div id="spacer"></div>
<div id="spacer"></div>

<h1 >PRIX ET DISTINCTIONS </h1>
<br>


<md-card>
<md-list>
  <h3>Année 2016</h3>
  <md-list-item>
    <img md-list-avatar src="https://yt3.ggpht.com/-1QP5KVYMxbo/AAAAAAAAAAI/AAAAAAAAAAA/djiAx3PhJ60/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" >
    <h2 md-line>Sophie Moinas </h2>
    <p md-line>
      <span style="color:grey"> docteur </span><br>
      <span class="demo-2" style="width:70%"> chercheurs au CRM, ont reçu le prix 2016 du meilleur article sur un sujet d'actualité de l'Institut
         Europlace de Finance pour leurs travaux sur le trading à haute fréquence.</span>
    </p>
 <button md-raised-button color="primary">Voir details ...</button>
  </md-list-item>

<md-list-item>
    <img md-list-avatar src="http://womenforhire.com/wp-content/uploads/iStock_000004673829XLarge1.jpg" >
    <h2 md-line>Sophie Moinas </h2>
    <p md-line>
      <span style="color:grey"> docteur </span><br>
      <span class="demo-2" style="width:70%"> chercheurs au CRM, ont reçu le prix 2016 du meilleur article sur un sujet d'actualité de l'Institut
         Europlace de Finance pour leurs travaux sur le trading à haute fréquence.</span>
    </p>
 <button md-raised-button color="primary">Voir details ... </button>
  </md-list-item>

  <md-divider></md-divider>
  <h3>Année 2015</h3>
 
  <md-list-item>
    <img md-list-avatar src="http://cx.aos.ask.com/question/aq/1400px-788px/smart-casual-attire-women_f12872cd0bcacc1.jpg" >
    <h2 md-line>Sophie Moinas </h2>
    <p md-line>
      <span style="color:grey"> docteur </span><br>
      <span class="demo-2" style="width:70%"> chercheurs au CRM, ont reçu le prix 2016 du meilleur article sur un sujet d'actualité de l'Institut
         Europlace de Finance pour leurs travaux sur le trading à haute fréquence.</span>
    </p>
 <button md-raised-button color="primary">Voir details ...</button>
  </md-list-item>  
</md-list>
<div id="spacer">
</div>
<div id="spacer">
</div>
<div style="float:right;margin-right: 10px; ">
  <button md-raised-button color="raised">afficher plus</button>
</div>
<div id="spacer">
</div>
<div id="spacer">
</div>
</md-card>


<div id="spacer80"></div>

  <div class="panel panel-default">
    
      <div class="panel-heading"><h1>Membres du laboratoire </h1></div>
      <div class="panel-body">

          <md-tab-group>
                  <md-tab>
                    <template md-tab-label>Doctorants</template>
                    <template md-tab-content>
                      
                      <md-list>
                        <md-list-item>
                          <img md-list-avatar src="https://yt3.ggpht.com/-1QP5KVYMxbo/AAAAAAAAAAI/AAAAAAAAAAA/djiAx3PhJ60/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" >
                          <h2 md-line>Sophie Moinas </h2>
                          <h2 md-line>
                            adem hmema
                          </h2>
                          <button md-raised-button color="primary">Voir details</button>
                        </md-list-item>
                        <md-list-item>
                          <img md-list-avatar src="https://yt3.ggpht.com/-1QP5KVYMxbo/AAAAAAAAAAI/AAAAAAAAAAA/djiAx3PhJ60/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" >
                          <h2 md-line>Sophie Moinas </h2>
                          <h2 md-line>
                            adem hmema
                          </h2>
                          <button md-raised-button color="primary">Voir details</button>
                        </md-list-item>
                        <md-list-item>
                          <img md-list-avatar src="https://yt3.ggpht.com/-1QP5KVYMxbo/AAAAAAAAAAI/AAAAAAAAAAA/djiAx3PhJ60/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" >
                          <h2 md-line>Sophie Moinas </h2>
                          <h2 md-line>
                            adem hmema
                          </h2>
                          <button md-raised-button color="primary">Voir details</button>
                        </md-list-item>
                      </md-list>
                      <div id="spacer"></div>
                      <h1>...</h1>
                      <button md-raised-button color="accent">voir liste complete </button>
                    </template>
                    
                  </md-tab>
                  <md-tab>
                    <template md-tab-label>Chercheurs</template>
                    <template md-tab-content>
                      <h1>Some more tab content</h1>
                      <p>...</p>
                    </template>
                  </md-tab>
        </md-tab-group>

      </div>
    </div>

<div id="spacer80"></div>
<md-card>
  <div class="row">
    <h1>Centre de documentation</h1>
    <hr>
    <div class="col-sm-8">
       Le Centre de documentation du CRM  a pour fonction le
       soutien documentaire aux programmes de recherche et la 
       réponse aux demandes des chercheurs, enseignants-chercheurs et doctorants, 
       en complément des bibliothèques universitaires.
       Les ressources proposées par le Centre de documentation sont principalement composées :
       d’ouvrages : 8000 ouvrages
       de périodiques : 30 titres
       Les ouvrages sont répertoriés. Le catalogue est consultable en interne
       A la demande des chercheurs, le Centre de documentation réalise des recherches bibliographiques et thématiques, exerce une veille documentaire, fournit des documents par le prêt entre bibliothèques. Il mobilise l’offre des ressources électroniques institutionnelles et spécialisées dans les domaines de recherche
       Par son intégration à des réseaux professionnels le Centre de documentation favorise  l’échange d’informations et contribue à la valorisation du fonds.
    </div>
    <div class="col-sm-4">
      <img id="fix_image" src="http://images.wisegeek.com/girl-carrying-red-textbook-in-library-near-table.jpg">
    </div>
  </div>
</md-card>

<div id="spacer80"></div>
<div id="spacer"></div>

<button style="margin-left:35%" md-raised-button color="accent">Inscrivez-vous et recevoir des notifications</button>

<div id="spacer80"></div>
<div id="spacer"></div>

</div><!-- container -->