<div class="well well-sm"><p>  <span class="glyphicon glyphicon-calendar"></span> Liste des projets</p>
</div>



<div class="list-group" *ngIf="projets">

  <a routerLink="/projet" class="list-group-item" *ngFor="let projet of projets">{{projet}} </a>
<!--  
  <a routerLink="/projet" class="list-group-item">Les modèles d’organisation</a>
  <a routerLink="/projet" class="list-group-item">Le modèle de l’entrepreneur </a>
  <a routerLink="/projet" class="list-group-item">Le modèle standard du Project Management Institute (PMI).</a>
  <a routerLink="/projet" class="list-group-item">PMI promeut une conduite de projet utilisant des outils </a>
  <a routerLink="/projet" class="list-group-item">Le modèle séquentiel de gestion de projet. </a>
  <a routerLink="/projet" class="list-group-item">Le modèle de l’ingénierie concourante (IC).</a>
  <a routerLink="/projet" class="list-group-item">Manager les projets </a>-->

</div>

