
<div class="well">
<div class="row">
<div class="col-sm-9">
<p>Les modèles d’organisation</p>
</div>
<div class="col-sm-1">
<button type="button" class="btn btn-default">Administrer</button>
</div>
<div class="col-sm-2">
  <button type="button" (click)="goToEdit()" class="btn btn-default">Editeur en ligne</button>
</div>
</div>
</div>


<md-tab-group>
  <md-tab>
    <template md-tab-label>Contributions</template>
    <template md-tab-content>
      <h1>Liste des contributions des membres</h1>
      
<table class="table table-striped">
    <thead>
      <tr>
        <th>Documents</th>

        <th>Télécharger</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nizam's Institute of Medical Sciences Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
      <tr>
        <td>Jinan Universit Book for dummy data</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
      <tr>
        <td>Saint Paul Book University </td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
      <tr>
        <td>Katholische Fachhochschule Norddeutschland </td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
       <tr>
        <td>Centre d'Etudes Supérieures Industrielles Paris Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
       <tr>
        <td>Greenford International Book University </td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
       <tr>
        <td>Cornish College of the Arts Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
       <tr>
        <td>University of Wisconsin - Stevens Book Point </td>
        <td><a>Télécharger </a>  </td>
      </tr>
     
      <tr>
        <td>Jinan Universit Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
      <tr>
        <td>Saint Paul University </td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
      <tr>
        <td>Katholische Fachhochschule Norddeutschland </td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
       <tr>
        <td>Centre d'Etudes Supérieures Industrielles Paris Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
      <tr>
        <td>Jinan Universit Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
      <tr>
        <td>Saint Paul University Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
      <tr>
        <td>Katholische Fachhochschule Norddeutschland Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>
       <tr>
        <td>Centre d'Etudes Supérieures Industrielles Paris Book</td>
        
        <td><a>Télécharger </a>  </td>
      </tr>

      
      </tbody>
  </table>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Notifications</template>
    <template md-tab-content>
      <h1>Liste des notifications du projet</h1>
      <app-notification-center></app-notification-center>
    </template>
  </md-tab>
</md-tab-group>






