
<footer >
    <div class="footer" id="footer" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> contact </h3>
                    <ul>
                        <li> <a href="#"> num:20160609</a> </li>
                        <li> <a href="#">  fax:7016357</a> </li>
                        <li> <a href="#"> contacte lien </a> </li>
                        
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Contact administrateurs </h3>
                    <ul>
                        <li> <a href="#"> adem@gmail.com </a> </li>
                        <li> <a href="#"> kathem@hotmail.fr </a> </li>
                        <li> <a href="#"> Monther@gmail.com </a> </li>
                        <li> <a href="#"> farid@hotmail.fr </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Reseaux sociaux</h3>
                    <ul>
                        <li> <a href="#"> twitter </a> </li>
                        <li> <a href="#"> facebook</a> </li>
                        <li> <a href="#"> github </a> </li>
                        
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3>Liens utiles </h3>
                    <ul>
                        <li> <a href="#"> www.wiki.com </a> </li>
                        <li> <a href="#"> www.facebook.com </a> </li>
                        <li> <a href="#"> www.youtube.com </a> </li>
                        
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>

